@use "../utils/viewport" as viewport;

.responsive-sample:before {
  @include viewport.mobile {
    content: "MOBILE";
  }
  @include viewport.tablet {
    content: "TABLET";
  }
  @include viewport.desktop {
    content: "DESKTOP";
  }
}