@import "../utils/colors";

.navbar {
  height: 5rem;
  margin-top: 2rem;

  display: grid;
  grid-template-areas:
    "title toggle"
    "menu .";

  .title {
    grid-area: title;
    font-size: 2.25rem;
  }
  .toggle {
    grid-area: toggle;

    display: flex;
    justify-content: flex-end;
  }
  .menu {
    grid-area: menu;
    margin-top: 0.5rem;

    display: flex;
    flex-wrap: wrap;

    .link {
      margin-right: 0.5rem;
      margin-bottom: 0.35rem;

      text-decoration: none;
      font-size: 1.10rem;
    }

    .divider {
      margin-right: 0.5rem;
      margin-bottom: 0.35rem;
    }
  }
}

.dark-mode .navbar {
  .menu .link {
    color: $dark-color
  }
}

.light-mode .navbar {
  .menu .link {
    color: $light-color
  }
}