body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  background-color: #031627;
  color: #ffffff;
  max-width: 680px;
  margin: 0 auto;
}

.header-container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  color: #ffffff;
}

.header-logo-container {
  flex: 0.6;
}

.header-menu-container {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-link {
  text-decoration: none;
  color: #ffffff;
}

.header-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header-link:hover:after {
  width: 100%;
  left: 0;
}

.link {
  color: #ffffff !important
}

.content-container {
  margin-top: 3rem;
}

.tech-stack-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}