nav {
  margin: 0px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 10px 0;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 10px;
  }
}
