@import 'colors';

.navbar {
  height: 5rem;
  margin-top: 2rem;

  display: grid;
  grid-template-areas:
    'title toggle'
    'menu .';

  .title {
    grid-area: title;
    font-size: 2.25rem;
    cursor: pointer;
  }
  .toggle {
    grid-area: toggle;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    grid-area: menu;
    margin-top: 0.5rem;

    display: flex;
    flex-wrap: wrap;

    .link {
      cursor: pointer;

      margin-right: 0.5rem;
      margin-bottom: 0.35rem;

      font-size: 1.1rem;
    }

    .link.active {
      text-decoration: underline;
    }

    .divider {
      margin-right: 0.5rem;
      margin-bottom: 0.35rem;
    }
  }
}
