// utils
@use "utils/viewport";

// pages
@use "pages/responsive-sample";

// components
@use "components/page" as page;
@use "components/navbar";

// colors
@import "utils/colors";

// reset default styles
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body.light-mode {
  @include page.container;
  background-color: $dark-background;
  color: $dark-color;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  @include page.container;
  background-color: $light-background;
  color: $light-color;
  transition: background-color 0.3s ease;
}