// utils
@use 'viewport';

// pages
@use 'responsive-sample-page';
@use 'home-page';
@use 'gear-page';
@use 'contact-page';
@use 'tech-page';

// components
@use 'page' as page;
@use 'navbar';

@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'colors';

// reset default styles
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body.light-mode {
  @include page.container;
  font-family: Hack, monospace;
  background-color: $light-background;
  color: $light-color;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  @include page.container;
  font-family: Hack, monospace;
  background-color: $dark-background;
  color: $dark-color;
  transition: background-color 0.3s ease;
}

main {
  margin-top: 1.5rem;
}
